@font-face {
    font-family: 'Source Sans Pro';
    src: url('images/source-sans-pro/SourceSansPro-Bold.otf');
}
body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    border-color: rgb(10, 60, 43);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 29.46px;
    margin-top: 40px;
}

#menus {
    display: flex;
    width: 234px;
    justify-content: space-between;
}
#menus a{

    color: white;
}

#titulo {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Source Sans Pro';
}

#schooled {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

#schooled h1{
    font-size: 140px;
    font-weight: bold;
}

#palabras {
    word-spacing: 45px;
    font-size: 25px;
    vertical-align: top;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    margin-top: -100px;
}

#boton-registro{
    margin-top: 40px;
    background-color: #C271FF;
    color: white;
    width: 162px;
    height: 44px;
    top: 419px;
    left: 639px;
    left: 44.38%;
    right: 44.38%;
    top: 38.33%;
    bottom: 57.64%;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}
