@font-face {
    font-family: 'Source Sans Pro';
    src: url('images/source-sans-pro/SourceSansPro-Bold.otf');
}

body{
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 3718px;
}

body a{
    text-decoration: none;
}


header{
    width: 1103 px;
    height: 29.46px;
    display: flex;
    justify-content: space-around;
    margin-top: 101px;
}

#menu {
    justify-content: space-around;
    color: #FFFFFF;
}

#courses {
    position: absolute;
height: 15px;
left: 57%;
right: 28.63%;
top: calc(11.3% - 15px/2);

font-family: 'Source Sans Pro';
font-style: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #FFFFFF;
}

#pricing {
    position: absolute;
    height: 15px;
    left: 63.59%;
    right: 28.63%;
    top: calc(11.3% - 15px/2);

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
}

#login {
    position: absolute;
height: 15px;
left: 70.47%;
right: 0%;
top: calc(11.3% - 15px/2);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;
}




body img{
    width: 1440.15;
    height: 1093;
}

#titulo{
    justify-content: center;
    display: flex;
}


#schooled h1{
    font-family:'Source Sans Pro';
    font-size: 120px;
    color: #FFFFFF;
}

#palabras{
    display: flex;
    justify-content: space-evenly;
}

#smiles{
    position: absolute;
height: 20px;
left: 23.00%;
right: 55.21%;
top: calc(50% - 20px/2 - 89.8px);

font-family: 'Source Sans Pro';
font-style: normal;
font-size: 16px;
text-align: center;

color: #FFFFFF;
}

#grin {
    position: absolute;
height: 20px;
left: 28.5%;
right: 48.61%;
top: calc(50% - 20px/2 - 89.8px);

font-family: 'Source Sans Pro';
font-style: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;
}

#laugh {
    position: absolute;
height: 20px;
left: 31.35%;
right: 41.25%;
top: calc(50% - 20px/2 - 89.8px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;
}

#schooled button{
position: absolute;
left: 34.38%;
right: 54.38%;
top: 45.33%;
bottom: 50.64%;

filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
background-color: #C271FF;
border-radius: 20px;
color: #FFFFFF;
}

#learn {
    position: absolute;
    height: 40px;
    left: 20%;
    right: 39.93%;
    top: calc(50% - 40px/2 + 104.5px);

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
}

#palabralearn {
    color: #C271FF
}

#pros {
    display: flex;
    position: absolute;
    width: 1009px;
    height: 237px;
    left: 217px;
    top: 758px;
    justify-content: space-around;
}

#pros img{
    border-radius: 50%;
    bottom: 36.71%;
}

#pros #phillip{
    font-family: 'Source Sans Pro';
    font-style: normal;

    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
}

#pros #nannie{
    
    font-family: 'Source Sans Pro';
    font-style: normal;

    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
}

#pros #bruce{

    font-family: 'Source Sans Pro';
    font-style: normal;

    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
}

#pros #henry{
    font-family: 'Source Sans Pro';
    font-style: normal;

    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
}

#pros p{

height: 48px;
font-family: 'Source Sans Pro';
font-style: italic;;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;

}

#Quotes {
    position: absolute;
    width: 1440px;
    height: 392px;
    left: -1px;
    top: 1093px;
    display: flex;
    background: #C271FF;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Quotes img{
    width: 154px;
    height: 161px;
    margin-left: 10%;
    border-radius: 50%;
}

#Quotes #author{

left: 0%;
margin-right: 10%;
top: 0%;
bottom: 56.96%;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* or 153% */


color: #FFFFFF;
}

#Quotes #subtitle{
    height: 34px;
left: 0%;
right: 82.33%;
top: calc(50% - 34px/2 + 28px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 34px;
/* identical to box height, or 153% */


color: #FFFFFF;
}

#Quotes #clima{
    height: 34px;

font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* identical to box height, or 153% */


color: #FFFFFF;
}